 *{
  padding: 0;
  margin: 0;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
 }


 .button-container{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;


 }

 .answers-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 }


 #questionButton{
  background-color: rgb(58, 139, 166);
 }



 button{
  background-color: rgb(255, 140, 94);
  margin: .25rem 0rem;
  color: white;
  padding: 1rem 2rem;
  border-style: solid;
  border-color: black;
  border-radius: 10rem;
  width: 50%;
  font-weight: bold;
  font-size: 1rem;
  transition: all 300ms;
  box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, .25);
 }



 #question{
  text-align: center;
  margin: 3rem 0rem;
 }